@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0 auto;
}

body {
    max-width: 1500px;
    font-family: "Lato", sans-serif;
    font-family: "Lato", sans-serif;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

/*--------Nav area style here------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tital {
    font-size: 55px;
    font-weight: 900;
    color: #181818;
}

.main-color {
    color: #FD6E0A;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

ul li a {
    text-decoration: none;
    color: #999898;
    font-size: 20px;
}

.main-button {
    background-color: #FD6E0A;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px;
}

.banner {
    padding: 50px 100px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 700px;
}

.banner-greeting {
    font-size: 45px;
    color: #999898;
    margin-bottom: 0;
    font-weight: 600;
}

.banner-titel {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 500px;
}

.banner-deteals {
    color: #999898;
    margin-bottom: 15px;
    font-size: 18px;
}

.sub-button {
    background-color: transparent;
    color: #FD6E0A;
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px;
    margin-left: 20px;
}

.about-area {
    max-width: 1140px;
    margin-top: 100px;
    padding: 200px 0px 200px 0px;
    background-color: #FFF8F3;
    text-align: center;
}

.about-tital {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.about-text {
    max-width: 850px;
    font-size: 20px;
    color: #999898;
}

.about-info-area {
    margin-top: 25px;
    display: flex;
    max-width: 850px;
}

.info-tital {
    color: #999898;
}

.info-text {
    color: #181818;
    font-weight: bolder;
}

.what-i-do-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.what-do-area {
    text-align: center;
    max-width: 850px;
    margin-bottom: 50px;
}

.what-do-tital {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.what-do-text {
    color: #999898;
}

.card-area {
    display: flex;
    max-width: 1140px;
    gap: 25px;
}

.card-info {
    max-width: 265px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #d6d3d1;
}

.card-info img {
    width: 25px;
}

.card-tital {
    font-size: 20px;
    font-weight: 900;
    margin-top: 15px;
    color: #181818;
}

.card-text {
    color: #999898;
    font-size: 16px;
    margin-top: 15px;
}

.resume-area {
    max-width: 1140px;
    margin-bottom: 100px;
}

.resume-area-title {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 100px;
}

.resume-contanier {
    display: flex;
    gap: 15px;
}

.resume-column {}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.resume-items {
    margin-top: 20px;
    padding-right: 20px;
}

.resume-items-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-items-inst {
    font-size: 20px;
    font-weight: semi-bold;
    margin-bottom: 20px;
    color: #999898;
}

.resume-items-content {
    font-size: 15px;
    color: #999898;
    font-weight: normal;
    margin-bottom: 20px;
}

.button {
    text-align: center;
    margin-top: 50px;
}

.footer-area {
    background-color: #FFF8F3;
    padding: 200px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.footer-info-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-info-content {
    font-size: 16px;
    color: #999898;
    margin-bottom: 15px;
}

.icons-links {
    margin-top: 30px;
}

.icons-links a {
    margin-right: 20px;
}

.action-form .textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 5px;
    background: white;
    width: 100%;
}